.theory::first-letter {
  font-size: 36px;
  margin-left: 16px;
  color: orange;
}

.theory::selection {
  background-color: red;
  color: white;
}

.theory::first-line {
  font-size: 24px;
}

a::before {
  content: '> ';
  color: green;
}

a::after {
  content: '< ';
  color: green;
}
