header {
  display: flex;
}

h1 {
  margin: 21.44px auto;
}

.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 240px;
  flex-grow: 1;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}
