* {
  box-sizing: border-box;
}

div {
  overflow-x: auto;
}

table {
  width: 500px;
  margin: 16px;
}

td,
th,
table {
  border: 1px solid #000;
  border-collapse: collapse;
}
tr {
  box-sizing: border-box;
}

th,
td {
  line-height: 31px;
  padding: 4px;
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #aaa;
  color: #fff;
}

thead {
  background-color: aqua;
}

tfoot {
  font-weight: 700;
}

caption {
  margin-bottom: 8px;
}
